{% extends './home.html' %}

{% block title %} Cliente | Nuevo {% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for messages in messages %}
<div class="alert alert-success alert-dismissible" role="alert">
    <strong>{{messages}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}
{% endwith %}
<section class="content">
    <div>
        <div class="nav-scroller bg-body shadow-sm col-sm">
            <nav class="nav" aria-label="Secondary navigation">
                <a class="nav-link" href="clientes">Listar</a>
                <a class="nav-link active" href="clientes_add">Nuevo cliente</a>
            </nav>
        </div>
    </div>
    <form action="/create_cl" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/> 
        <div class="add">
            <span class="fs-4">Información del cliente</span>
            <div class="input-group input-group-sm mb-3 mt-3">
                <span class="input-group-text">Nombre, apellidoP, apellidoM</span>
                <input type="text" class="form-control" name="nombre_cl">
            </div>
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text">Rut</span>
                <input type="text" class="form-control" name="rut_cl">
                <span class="input-group-text">Cumpleaños</span>
                <input type="date" class="form-control" name="cumpleaños_cl">
                <span class="input-group-text">Fecha registro</span>
                <input type="date" class="form-control" name="registro_cl">
            </div>
            <hr>
            <span class="fs-4">Información del contacto</span>
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text">Teléfono casa</span>
                <input type="text" class="form-control" name="telefonoC">
                <span class="input-group-text">Teléfono móvil</span>
                <input type="text" class="form-control" name="telefonoM">
                <span class="input-group-text">Teléfono trabajo</span>
                <input type="text" class="form-control" name="telefonoT">
            </div>
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text">Correo electrónico</span>
                <input type="text" class="form-control" name="correo_cl">
                <span class="input-group-text">Facebook</span>
                <input type="text" class="form-control" name="facebook_cl">
                <span class="input-group-text">Cliente externo (Derivado)</span>
                <select class="form-select" aria-label="Default select example" name="derivado">
                    <option value="Si">Si</option>
                    <option value="No">No</option>
                </select>
            </div>
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text">Dirección</span>
                <input type="text" class="form-control" name="direccion_cl">
            </div>
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text">Referencias</span>
                <textarea class="form-control" name="referencias"></textarea>
            </div>
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text">Notas</span>
                <textarea class="form-control" name="notas"></textarea>
            </div>
            <div class="input-group input-group-sm mb-3">
                <a href="clientes" class="btn btn-danger btn-sm w-50">Cancelar</a>
                <button type="submit" class="btn btn-primary btn-sm w-50">Guardar cambios</button>
            </div>
        </div>
    </form>
</section>
{% endblock %}