{% extends './home.html' %}

{% block customCSS %} 
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/clientes.css') }}">
{% endblock %}

{% block title %} Clientes | Listar {% endblock %}

{% block content %}
<section class="content">
  <div>
    <div class="nav-scroller bg-body shadow-sm col-sm">
      <nav class="nav" aria-label="Secondary navigation">
        <a class="nav-link active" href="clientes">Listar</a>
        <a class="nav-link" href="clientes_add">Nuevo cliente</a>
        <a class="nav-link" href="#">Gestión</a>
     </nav>
    </div>  
  </div>
</section>
<!-- Recibo datos [nombre_cl, rut_cl, telefono_movil, correo_cl, direccion_cl] -->
<section class="conntent">
  <table class="table">
    <thead>
    <tr>
        <td>Nombre</td>
        <td>Rut</td>
        <td>Telefono Movil</td>
        <td>Correo</td>
        <td>Dirección</td>
    </tr>
    </thead>
    <tbody>
        {% for clientes in clientes %}
        <tr>
            <td>{{ clientes.0 }}</td>
            <td>{{ clientes.1 }}</td>
            <td>{{ clientes.2 }}</td>
            <td>{{ clientes.3 }}</td>
            <td>{{ clientes.4 }}</td>
            <td>
                <a href="/edit/{{clientes.0}}">Edit</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
</section>
{% endblock %}