{% extends './home.html' %}

{% block title %} Historial mascotas {% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for messages in messages %}
<div class="alert alert-success alert-dismissible" role="alert">
    <strong>{{messages}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}
{% endwith %}
<section class="content">
    <div>
        <div class="nav-scroller bg-body shadow-sm col-sm">
            <nav class="nav" aria-label="Secondary navigation">
                <a class="nav-link active" href="/historial">Historia clinica</a>
                <a class="nav-link" href="/historial_add">Nueva historia</a>
            </nav>
        </div>
    </div>
</section>
<section class="container-fluid mt-3">
  <table id="tabla-servicios" class="table table-striped">
    <thead>
    <tr>
        <td>Codigo</td>
        <td>Paciente</td>
        <td>Tutor</td>
        <td>Fecha</td>
        <td>Hora</td>
        <td>Motivo</td>
        <td>Acción</td>
    </tr>
    </thead>
  <tbody>
    <!-- for para listar clientes -->
      {% for historial in historiales %}
      <tr>
          <td>{{ historial.0 }}</td>
          <td>{{ historial.1 }}</td>
          <td>{{ historial.2 }}</td>
          <td>{{ historial.3 }}</td>
          <td>{{ historial.4 }}</td>
          <td>{{ historial.5 }}</td>
          <td class="justify-content-center">
            <a class="px-1 text-warning" href="/info_history/{{historial.0}}"> <!-- Agregar info de cliente -->
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
              </svg>
            </a>
          </td>
      </tr>
      {% endfor %}
  </tbody>
  </table>
</section>
{% endblock %}