{% extends './home.html' %}

{% block customCSS %} 
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/clientes.css') }}">
{% endblock %}

{% block title %} Mascotas | Perfil {% endblock %}

{% block content %}
<section class="content">
    <div>
        <div class="nav-scroller bg-body shadow-sm col-sm">
            <nav class="nav" aria-label="Secondary navigation">
                <a class="nav-link" href="mascotas">Regresar</a>
                <a class="nav-link" href="mascotas_info">Perfil</a>
                <a class="nav-link active" href="mascotas_edit">Editar</a>
                <a class="nav-link" href="mascotas_history">Historial clinico</a>
            </nav>
        </div>
    </div>
</section>
{% endblock %}